.container {
    padding: 1rem;
    .big-button {
        display: flex;
        align-items: center;
        cursor: pointer;
        .icon {
            font-size: 1.5rem;
        }
        .label {
            font-size: 1.3rem;
            margin: 0 1rem;
        }
    }
}

.button-bar {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.chip-list {
    display: flex;
    flex-wrap: wrap;
    margin: .7rem 0 .3rem 0;
    // background-color: blue;
    .chip {
        margin: .1rem;
        width: max-content;
        padding: .15rem 1rem;
        border-radius: .8rem;
        background-color: rgba(223, 223, 223, 0.842);
        font-weight: 500;
        color: darkgreen;
    }
}