.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    mat-card {
        width: max-content;
        display: flex;
        flex-direction: column;
        .title {}
        form {
            display: flex;
            flex-direction: column;
            mat-form-field {
                mat-label {}
                input {
                    font-size: 16px;
                }
            }
        }
    }
}

.msgBox {
    margin-top: .8rem;
    // padding: .4rem;
    // border: 1px solid orangered;
    background-color: rgba(255, 0, 0, 0.089);
    color: darkred;
}